global:
  scrape_interval: 15s  # Scrape every 15 seconds

scrape_configs:
  - job_name: 'express-server'
    static_configs:
      - targets: ['express-backend:6000']  # Target the /metrics endpoint of the Express app
    metrics_path: '/metrics'  # Ensure it scrapes the /metrics endpoint
    scheme: http  # Use HTTP for scraping
